<h3>Search Results:</h3>

<% searchResultObject.forEach (restaurant => {%>
    <div class="results">
        <ul>
            <li><a href="<%= restaurant.restaurant_website %>"><%= restaurant.restaurant_name %></a></li>
            <li><%= restaurant.restaurant_cuisines %></li>
            <li><%= restaurant.address.formatted %></li>
            <li><%= restaurant.restaurant_phone %></li>
        </ul>

        
    </div>
<% }); %>